# Data Science Tools and Ecosystem

## Author
Sergey Aityan

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* To become familiar with major data science tools
* To become familiar with major data science languages such as Python and R
* To become familiar with major environments
* To lean code sharing and versioning environment
* To start getting hands-on excperience with data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. C++
3. Julia
4. and others

In [29]:
# Below is a numbered list of languages for Data science written using Python code (previous exercise)
languages = ["Python","C++","Julia","and others"]
for index, value in enumerate(languages, 1):
    print("{}. {}".format(index, value))

1. Python
2. C++
3. Julia
4. and others

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. MatPlotLib
5. and many others

|Data Science Tools|
|---|
|Jupyter Notebook|
|JupyterLab|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [30]:
# expression to mutiply then add integers
(3*4)+5

17

In [37]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [ ]:
# This will convert 200 minutes to hours by diving by 60
min_in_hour = 60
minutes = 200
hours = minutes/min_in_hour
print("{} minutes is approximately {:.6} hours".format(minutes,hours))